nav {
  background: black;
}
nav a {
  color: white;
}
.intro {
  background: url('./images/costa_rica.jpg') no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20% 0;
}
#my_face {
  max-height: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.intro h1 {
  font-size: 300%;
}
.content-section {
  padding: 50px;
}
.content-section #contact-button {
  padding: 10px 0;
}
.content-section h2 {
  font-size: 300%;
}
.experience-list {
  margin-top: 50px;
  margin-bottom: 50px;
}
